.rtlnav3 {
    background-color: #302e30;
}
.rtlnav3:hover {
    background-color: gray;
}
.rtlnav5:hover {
    background-color: red;
}
.rtlnav5 {
    background-color: red;
}
.eventi {
    color: white;
    font-size: 20px;
}
.eventi form input {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 20px;
}
.eventi form select {
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 20px;
}
.eventi form input[type="submit"] {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.contest {
    color: white;
    font-size: 20px;
}
.contest form input {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 20px;
}
.contest form select {
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 20px;
}
.contest form input[type="submit"] {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.elimina {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}