article section {
    background-color: #302e30;
    text-align: left;
}
.title {
    text-align: center;
    border-bottom: 1px solid gray;
}
.pwd {
    width: 100%;
    display: flex;
    justify-content: center;
}
.pwd div{
    margin: 0;
    width: 70%;
    display: flex;
    justify-content: flex-start;
}
input {
    width: 100%;
    background-color: #302e30;
    border: 1px solid gray;
    height: 30px;
    margin: 10px;
    color: white;
    font-size: 20px;
}   
input[type="submit"] {
    background-color: red;
    cursor: pointer;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    margin-top: 20px;
}
.info div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    font-size: 15px;
    margin-bottom: 10px;
}
.info div span {
    width: 10px;
    margin: 10px;
}
.green {
    color: green;
}
.red {
    color: red;
}
#mostra_a {
    background-color: #302e30;
    left: 90%;
    position: relative;
    bottom: 38px;
    border:0;
}
#mostra_n {
    background-color: #302e30;
    left: 90%;
    position: relative;
    bottom: 38px;
    border: 0px;
}